div{
	text-align: center;
}
p
{
	color: green;
}
.con-profile{
	position: absolute; top: 35%; left: 50%; transform: translate(-50%, -50%);
}
.gambar {           
	border-radius: 50%; width: 200px;
}
.container
{
	overflow: hidden;
	background-attachment: fixed;
}
.stars, .twinks, .mists, .roket{
position: fixed;
top:0;
left:0;
right:0;
bottom:0;
width:100%;
height:100%;
display:block;
}
.stars {
	background:#000 repeat top center;
}
.twinks{
background:transparent url(twinks.png) repeat top center;
-moz-animation:move-twink-back 200s linear infinite;
-ms-animation:move-twink-back 200s linear infinite;
-o-animation:move-twink-back 200s linear infinite;
-webkit-animation:move-twink-back 200s linear infinite;
animation:move-twink-back 200s linear infinite;
}
.mists{
background:transparent url(clouds.png) repeat top center;
-moz-animation:move-mists-back 200s linear infinite;
-ms-animation:move-mists-back 200s linear infinite;
-o-animation:move-mists-back 200s linear infinite;
-webkit-animation:move-mists-back 200s linear infinite;
animation:move-mists-back 200s linear infinite;
}
.roket{
	background:url(roket.png);
	/* background-position: 120% 70px, 0px 0px, 0px 0px; */
	background-repeat: no-repeat, repeat-x, repeat-x;
	animation: animate-roket linear 5s infinite;
	/* -moz-animation: animate-roket linear 5s infinite;
	-ms-animation: animate-roket linear 5s infinite;
	-o-animation: animate-roket linear 5s infinite;
	-webkit-animation: animate-roket linear 5s infinite; */
	/* -ms-transform: rotate(90deg);
	-webkit-transform: rotate(90deg); */
	}
/* .mixBlnd
{
	background-blend-mode: screen;
} */
@keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}
@-webkit-keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}
@-moz-keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}
@-ms-keyframes move-twink-back {
from {background-position:0 0;}
to {background-position:-10000px 5000px;}
}
/* mist */
@keyframes move-mists-back {
from {background-position:0 0;}
to {background-position:-10000px 1000px;}
}
@-webkit-keyframes move-mists-back {
from {background-position:0 0;}
to {background-position:-10000px 1000px;}
}
@-moz-keyframes move-mists-back {
from {background-position:0 0;}
to {background-position:-10000px 1000px;}
}
@-ms-keyframes move-mists-back {
from {background-position: 0 0;}
to {background-position:-10000px 1000px;}
}
/* roket */
@keyframes animate-roket {
	from { background-position: 120% 70px; transform: rotate(0deg);} 
	to { background-position: -120% 70px, 10px 0px, 20% 0px;transform: rotate(45deg);}
	/* dari kanan tengah ke pojok kiri atas*/
	/* from { background-position: 120% 70px ke kiri, 10px 0px, 0px 0px; transform: rotate(0deg);} 
	to { background-position: -120% 70px, 10px 0px, -500px 0px;;transform: rotate(45deg);} */
}
@media (max-width: 500px) {               
	 .gambar {           
		border-radius: 50%; width: 150px;
	}
}